/* Header */
.attraction-header {
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
}

.attraction-header-image {
    height: 100%;
    width: 100vw;
    position: absolute;
}

.header-text-container {
    color: black;
    width: 60%;
    height: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header-paragraph {
    text-align: center;
}

.continents {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255,249,237,255);
}

.continents-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continents-item {
    display: flex;
    padding: 10px 0px;
    width: 100%;
    justify-content: space-evenly;
}

.continent-button {
    color: white;
    background-color: orange;
    border-radius: 25px;
    padding: 6px 10px;
}

/* Domestic */
.domestic-container {
    background-image: url('/Users/LiewYuPing/Downloads/web website 2/Website photo/tourist attraction/sky.webp');
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    flex-direction: column;
    align-items: center;
}

.domestic-title {
    text-align: center;
    margin-top: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.cards-container {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    overflow: auto;
    max-width: 200px;
    background-color: white;
    border-radius: 25px;
    margin: 0px 16px;
}

.card-content {
    padding: 12px;
}

.card-title {
    margin-bottom: 8px;
    font-weight: bold;
}

.card-image {
    width: 100%;
}

.domestic-container-2 {
    background-image: url('/Users/LiewYuPing/Downloads/web website 2/Website photo/tourist attraction/night.webp');
}